.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTopButton:hover {
  background-color: #545454;
  transition: all 0.5s;
}

.up-arrow {
  width: 2rem;
}
