.my-movies {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-movies h1 {
  margin-bottom: 14px;
}

.my-movies span {
  font-size: 18px;
}

.my-movies ul {
  width: 720px;
}

.my-movies ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.my-movies div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-movies div a {
  text-decoration: none;
  color: #116feb;
  margin-right: 14px;
}

.div-icon {
  gap: 8px;
}

.icons {
  background: none;
  border: none;
  cursor: pointer;
}

.eye-icon {
  width: 2.3rem;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.eye-icon:hover {
  background-color: lightgray;
  color: #fff;
}

.delete-icon {
  width: 2.3rem;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.delete-icon:hover {
  background-color: rgb(255, 49, 49);
}
